* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f72585;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 24px;
}

header {
    width: 80%;
    background-color: #7209b7;
    color : white;
    text-align: center;
    padding: 1rem;
    margin: auto; /*pas précisé*/
}

header h1 {
    font-size: 2rem; /*subtilité si on laisse dans header ; par défaut h1 a une font-size 2em qui double la taille héritée du conteneur ; donc il faut venir overwrite la valeur dans h1 directement*/
}

#overflow {
    background-color: white;
    color : #7209b7;
    height: 3rem;
    overflow: auto;
}

#image {
    width: 100vw;
    height: 30vh;
}

img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

#boxes div {
    color: white; /*pas précisé*/
    padding: 3vw; /*pas précisé, */
    width: 25%;
}

#boxes div p {
    font-size: min(3vw, 1rem); /*changé de 2rem à 1rem pour approcher la vidéo*/ 
}

#boxes div:nth-of-type(1) {
    background-color: #7209b7;
}

#boxes div:nth-of-type(2) {
    margin-left: 25%;
    background-color: #3a0ca3;
}

#boxes div:nth-of-type(3) {
    margin-left: 50%;
    background-color: #4361ee;
    border: 0.25rem solid black;
}

#boxes div:nth-of-type(4) {
    margin-left: 75%;
}