.nav-container {
    min-width: 5rem;
    container-type: inline-size;

    h1 {
        font-size: var(--fs-xxl);
        padding: var(--fs-base);

        @container (width < 10rem) {
            text-align: center;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: var(--fs-lg);
        padding: 1rem;

        li {
            width: 100%;

            a {
                display: flex;
                color: var(--color-text);
                text-decoration: none;
                justify-content: center;
                align-items: center;
                padding: var(--fs-base);

                @container (width > 10rem) {
                    justify-content: start;
                    gap: 1rem;
                }

                &:hover,
                &.active {
                    background: var(--color-background-highlight);
                    border-radius: 10px;
                }

                svg {
                    height: var(--fs-xxl);
                    flex-shrink: 0;

                    @media (prefers-color-scheme: dark) {
                        fill: var(--color-text);
                    }
                }

                span {
                    display: none;
                    font-size: var(--fs-md);

                    @container (width >=10rem) {
                        display: block;
                    }
                }
            }
        }
    }
}