.artist-card-container {
    border: 1px solid #ffffff;
    container-type: inline-size;
    flex: 1 1 450px;
    max-width: 100%;
    min-width: 15rem;

    @media screen and (width > 960px) {
        margin: var(--whitespace) 0;
    }

    .artist-card {
        display: grid;
        grid-template-areas:
            "image"
            "name";
        position: relative;

        img {
            grid-area: image;
            height: 25cqi;
            object-fit: cover;
            width: 100%;
        }

        .artist-card--artist {
            padding: var(--whitespace);

            h1 {
                font-size: 2rem;

                span {
                    font-size: 1rem;
                    font-variation-settings: 'wght' 400;
                }
            }

            h2 {
                font-size: 1rem;
                font-variation-settings: 'wght' 400;
            }
        }

        .artist-card--concert {
            &>* {
                background-color: var(--color-secondary);
                color: var(--color-primary);
                font-variation-settings: 'wght' 400;
                position: absolute;
                padding: 0 var(--whitespace);

            }
        }

        .artist-card--concert-time {
            bottom: -5%;
            right: 2.5%;
        }

        .artist-card--concert-venue {
            top: -5%;
            left: 2.5%;
        }
    }
}