* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1.title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

article > h2 {
    border-bottom: 1px dotted brown;
}

main {
    padding: 1rem;
}

h1, h2, h3 {
    color: hsl(280, 80%, 40%);
    margin: 1rem 0;
}

article:last-of-type {
    margin-bottom: 2rem;
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 1rem 0;
    padding: 0 2rem;
}

a[href^="mailto:"]::before {
    content: "✉️";
}

aside li {
    list-style: none;
    padding: 0.3rem;
    margin: 0.2rem;
}

aside li:nth-of-type(odd) {
    background-color: hsl(280, 80%, 40%);
    color: white;
}